/* ********************************* */
/* BELOW 1360PX FOR SMALL DESKTOP */
/* ********************************* */
@media (max-width: 85em) {
  .heading-hero {
    font-size: 6.2rem;
  }
  .how-service {
    padding: 3.2rem;
  }
  .marketing-img {
    width: 100%;
  }
  .feature-title {
    font-size: 2rem;
  }
  .feature-text {
    line-height: 1.4;
    font-size: 1.2rem;
  }
  .feature-container {
    gap: 6.2rem !important;
  }
  .feature-img img {
    width: 100%;
    height: 100%;
  }
  .feature-box {
    padding: 2.4rem;
  }
  .how-2-boxes {
    gap: 4.8rem !important;
  }
  .slide-img img {
    height: 26rem;
  }
  .grid-4-col {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ********************************* */
/*     BELOW 1152PX FOR TAPLETS      */
/* ********************************* */
@media (max-width: 72em) {
  .heading-hero {
    font-size: 5.2rem;
  }
  .main-title {
    font-size: 4rem;
  }
  .sub-title {
    font-size: 1.6rem;
  }
  .marketing {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
  }
  .marketing-img {
    display: none;
  }
  .chose-about-boxes {
    flex-direction: column;
    gap: 3.2rem;
  }

  .chose-about-box {
    text-align: left;
  }

  .check-flex-respon {
    display: flex;
  }

  .check-icon-box {
    height: 2.4rem;
    width: 2.4rem;
  }
  .feature-container {
    grid-template-columns: 1fr;
  }

  .feature-img {
    justify-self: center;
  }

  .feat-img img {
    width: auto;
    height: 100%;
  }
  .pricing-boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing-green {
    width: 50%;
    justify-self: center;
    grid-column: 1/ -1;
  }
  .testimonial-container {
    flex-direction: column;
    gap: 4.8rem;

    padding: 5rem;
  }

  .testimonial-person img {
    display: block;
    margin: 0 auto;
  }

  .testimonial-text {
    text-align: center;
  }

  .about-person {
    flex-direction: column;
    text-align: center;
    gap: 3.2rem;
  }

  .and-btn-foot,
  .apple-btn-foot {
    padding: 1.2rem 2rem;
  }

  .copy {
    font-size: 1.4rem;
  }
}
/* ********************************* */
/*  BELOW 1040PX FOR SMALL TAPLETS   */
/* ********************************* */

@media (max-width: 65em) {
  .hero {
    grid-template-columns: 1fr;
  }
  .heading-hero {
    margin-top: 9.6rem;
  }
  .hero-img img {
    margin-left: auto;
    display: block;
    max-width: 50%;
    max-height: 50%;
  }
  .how-services {
    grid-template-columns: repeat(2, 1fr);
  }
  .how-video {
    flex-direction: column;
  }
  .video-info {
    margin: 3.2rem 1rem 3.2rem 0;
  }
  .slide-img img {
    display: block;
    height: 40rem;
    width: 75%;
    margin: 0 auto;
  }

  .buttons-slide {
    justify-content: center;
    max-width: 100%;
  }
  .sponsers-container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .sponser-img:nth-child(7) {
    grid-column: 1;
    grid-row: 3;
    margin-left: 0;
    justify-self: center;
  }
  .sponser-img:nth-child(8) {
    grid-row: 3;
    grid-column: 2;
    margin-right: 0;
    justify-self: center;
  }
  .sponser-img:nth-child(9) {
    grid-row: 3;
    grid-column: 3;
    margin-left: 0;
    justify-self: center;
  }
  .sponser-img:nth-child(10) {
    grid-row: 4;
    grid-column: 2;
    justify-self: center;
    margin-right: 0;
  }

  .foot-container {
    grid-template-columns: 2fr 1fr 1fr;
  }
  .copyrights {
    flex-direction: column;
    gap: 3.2rem;
    grid-row: span 3;
  }

  .company-address {
    padding-left: 0;
  }
  /* ********************************* */
  /*              MOBILE NAV           */
  /* ********************************* */

  .mobile-nav {
    display: block;
    font-size: 3.2rem;
    margin-left: 1.6rem;
    cursor: pointer;

    transition: all 0.3s;
  }

  .mobile-nav:hover {
    color: #b91435;
  }

  .header {
    position: relative;
  }

  .open .mobile-nav {
    display: none;
  }

  .open .mob-menu-close {
    display: block;
    font-size: 3.2rem;
    margin-left: 1.6rem;
    cursor: pointer;

    position: relative;
    z-index: 9999;

    transition: all 0.3s;
  }

  .open .mob-menu-close:hover {
    color: #b91435;
  }

  .nav-bar {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.4s;
  }

  .open .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    margin-left: 0;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .open .nav-list .list a {
    font-size: 2.4rem;
  }

  .open .nav-list .list .nav-icon {
    font-size: 1.6rem;
  }

  .btn:link,
  .btn:visited {
    padding: 1.2rem 2rem;
  }
}
/* ********************************* */
/*       BELOW 800PX FOR PHONES      */
/* ********************************* */
@media (max-width: 50em) {
  .header {
    padding: 6.4rem 5.2rem;
  }
  .container {
    max-width: 130rem;
    padding: 0 9.6rem;
  }
  .main-title {
    font-size: 3.2rem;
  }

  .sub-title {
    font-size: 1.4rem;
  }
  .hero-info {
    padding: 0 9.6rem;
    max-width: 130rem;
    margin: 0 auto;
  }
  .how-services {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .how-it-work .main-title {
    text-align: center;
  }
  .how-it-work .sub-title {
    text-align: center;
  }

  .button-how {
    flex-direction: column;
    gap: 2.8rem;
  }

  .how-icon-box {
    margin: 0 auto 3.2rem;
  }

  .btn-how-info {
    margin: 0 auto;
  }

  .marketing {
    padding: 3.2rem;
  }

  .how-2-boxes {
    grid-template-columns: 1fr;
  }

  .pricing-boxes {
    grid-template-columns: 1fr;
  }

  .pricing-green {
    width: 100%;
  }

  .btn-puase,
  .download-btn,
  .buttons-slide,
  .about-person div:nth-child(2) {
    display: none;
  }
  .foot-container {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }

  .foot-link {
    justify-content: center;
  }
  .social-icon {
    justify-content: center;
  }
  .comp-list {
    align-items: center;
  }

  .apple-btn-foot {
    padding: 1.2rem 1rem;
    font-size: 1.4rem;
  }
  .and-btn-foot {
    padding: 1rem;
    font-size: 1.4rem;
  }
}

/* ********************************* */
/*       BELOW 600PX FOR PHONES      */
/* ********************************* */

@media (max-width: 38em) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 6.4rem 2.8rem;
  }
  .form-hero {
    padding: 1rem 3rem 1rem 1rem;
  }

  .hero-info {
    padding: 0 3.2rem;
  }

  .container {
    max-width: 100rem;
    padding: 0 6.4rem;
  }

  .feature-img img {
    max-width: 35rem;
    height: 100%;
  }

  .slide-img img {
    width: 100%;
  }

  .scroll-to-top {
    right: 5%;
  }
}
